{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block content %}
<div style="margin-top: 6rem;">
  <div class="container">
    <div class="row" style="padding-top: 10px; background-color: rgba(86, 86, 86, 0.452); height: auto;">
      <div class="col-lg-6" style="text-align: left;">
        <h1 style="text-align: left; color: #fff; margin-bottom: 30px;">굿즈 둘러보기</h1>
      </div>
      <div class="col-lg-6" style="margin-top: 10px;">
        <div class="d-flex align-items-center justify-content-start">
          {% url 'item:all' as item_all_url %}
          <select class="custom-select custom-select mb-3 float-right" style="border: 2px solid rgba(255, 255, 255, 0.664); background-color: rgba(255, 255, 255, 0.846);" onchange="location.href = '{{ item_all_url }}?category=' + this.value;">
            <option value="all">전체</option>
            <option {% if selected_category == 'clothes' %}selected{% endif %} value="clothes">의류</option>
            <option {% if selected_category == 'cup' %}selected{% endif %} value="cup">컵</option>
            <option {% if selected_category == 'badge' %}selected{% endif %} value="badge">뱃지</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row" style="margin-bottom: 0;">
      {% for item in items %}
      <div class="col-xl-4 col-md-6 mb-4">
        <a href="{% url 'item:detail' item.id %}" style="text-decoration: none;">
          <div class="card h-100 card-hover">
            <div class="card-img-container">
              <div class="image-wrapper">
                <img src="{{ item.thumbnail.url }}" class="card-img-top" alt="{{ item.name }}">
              </div>
              <div class="overlay"></div>
            </div>
            <div class="card-body">
              <h5 class="card-title">{{ item.name }}</h5>
              <h5 class="card-title">{{ item.price|intcomma }}원</h5>
            </div>
          </div>
        </a>
      </div>
      {% empty %}
      <div class="col-xl-4 col-md-6 mb-4"></div>
      {% endfor %}
    </div>
  </div>
</div>
<style>
  body {
    background-image: url('{% static "images/ballon.jpg" %}');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  
  .card {
    height: 100%;
  }

  .card-hover:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  .card-img-container {
    position: relative;
  }

  .card-img-container .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(144, 144, 144, 0.199);
    opacity: 0;
    z-index: 1;
    transition: opacity 0.3s ease;
  }

  .card-hover:hover .overlay {
    opacity: 1;
  }

  /* Adjusted row styling */
  .row {
    background-color: rgba(86, 86, 86, 0.452);
    margin-bottom: 0; /* Remove default margin-bottom */
  }

  /* Add a custom class to the footer to differentiate styling */
  .custom-footer {
    background-color: #f8f9fa; /* Specify desired footer background color */
    padding: 20px; /* Add appropriate padding to the footer */
  }
  
  @media (min-width: 300px) {
    .col-xl-4 {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }
  @media (min-width: 992px) {
    .col-xl-4 {
      flex: 0 0 33.333333%;
      max-width: 33.333333%;
    }
  }

  @media (min-width: 1200px) {
    .col-xl-4 {
      flex: 0 0 25%;
      max-width: 25%;
    }
  }
</style>
<svg class="footer-frame" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" viewBox="0 0 1920 79">
  <defs>
    <linearGradient id="grad1" x1="0%" y1="0%" x2="0%" y2="100%">
      <stop offset="0%" style="stop-color:#00B5E2;stop-opacity:1" />
      <stop offset="33.33%" style="stop-color:#00B5E2;stop-opacity:1" />
      <stop offset="33.33%" style="stop-color:#EF3340;stop-opacity:1" />
      <stop offset="66.66%" style="stop-color:#EF3340;stop-opacity:1" />
      <stop offset="66.66%" style="stop-color:#509E2F;stop-opacity:1" />
      <stop offset="100%" style="stop-color:#509E2F;stop-opacity:1" />
    </linearGradient>
  </defs>
  <title>footer-frame</title>
  <path class="cls-2" d="M0,72.427C143,12.138,255.5,4.577,328.644,7.943c147.721,6.8,183.881,60.242,320.83,53.737,143-6.793,167.826-68.128,293-60.9,109.095,6.3,115.68,54.364,225.251,57.319,113.58,3.064,138.8-47.711,251.189-41.8,104.012,5.474,109.713,50.4,197.369,46.572,89.549-3.91,124.375-52.563,227.622-50.155A338.646,338.646,0,0,1,1920,23.467V79.75H0V72.427Z" transform="translate(0 -0.188)" fill="url(#grad1)" />
</svg>
{% endblock %}
