{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block content %}
    <!-- Product section-->
    <section class="py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="row gx-4 gx-lg-5 align-items-center">
                <div class="col-md-6">
                    <div class="big-image-container">
                        <img class="card-img-top mb-5 mb-md-0" src="{{ item_detail.thumbnail.url }}" alt="{{ item_detail.name }}" style="object-fit: cover"/>
                    </div>
                    <div class="info-container" style="padding: 40px;">
                        <div class="info-in-container">
                            <h1 class="display-5 fw-bolder">{{ item_detail.name }}</h1>
                            <div class="fs-5 mb-5">
                                <span class="text-decoration-line-through">{{ item_detail.price|intcomma }}원</span>
                            </div>
                        </div>
                        <p class="lead" style="font-size: 18px;">{{ item_detail.body|linebreaks }}</p>
                        <div class="d-flex align-items-center">
                        </div>
                    </div>
                </div>
                
                <div class="col-md-6" style="padding-top: 30px; text-align: center;">
                    <h2 class="fw-bolder mb-4">Detail</h2>
                    <div style="display: inline-block; text-align: center;">
                        {% for item_photo in item_photos %}
                            <div class="item-photo" style="width: 80%; display: inline-block;">
                                <img src="{{ item_photo.image.url }}" alt="Item Photo" class="img-fluid img-cover">
                                <br>
                            </div>
                        {% endfor %}
                    </div>
                    <a href="{% url 'supply:buy' %}">
                    <button type="button" name="go_buy" class="form-control-submit-button" id="submit-btn" style="margin: 0px">구매하기</button>
                    </a>
                </div>
                
        </div>
    </section>
  
    <!-- Related items section -->
    <section class="py-5 bg-light">
        <div class="container px-4 px-lg-5 mt-5">
            <h2 class="fw-bolder mb-4">Related products</h2>
            <div class="row" style="margin-bottom: 0;">
                {% for related_item in related_items %}
                <div class="col-xl-4 col-md-6 mb-4">
                    <a href="{% url 'item:detail' related_item.id %}" style="text-decoration: none;">
                        <div class="card h-100 card-hover">
                            <div class="card-img-container">
                                <div class="image-wrapper">
                                    <img src="{{ related_item.thumbnail.url }}" class="card-img-top" alt="{{ related_item.name }}">
                                </div>
                                <div class="overlay"></div>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">{{ related_item.name }}</h5>
                                <h5 class="card-title">{{ related_item.price }}원</h5>
                            </div>
                        </div>
                    </a>
                </div>
                {% empty %}
                <div class="col-xl-4 col-md-6 mb-4"></div>
                {% endfor %}
            </div>
        </div>
    </section>
  
    <style>
        .big-image-container {
            width: 50%;
            float: left;
            position: relative;
            overflow: hidden;
            padding-right: 15px;
        }

        .image-container {
            width: 100%;
            position: relative;
            overflow: hidden;
        }

        .card-img-top {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .info-container {
            width: 50%;
            float: right;

            padding-left: 15px;
        }

        .item-photo {
            margin-bottom: 50px;
            position: relative;
        }

        .img-cover {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }

        .card {
            height: 100%;
        }

        .card-hover:hover {
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        }

        .card-img-container {
            position: relative;
        }

        .card-img-container .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(144, 144, 144, 0.199);
            opacity: 0;
            z-index: 1;
            transition: opacity 0.3s ease;
        }

        .card-hover:hover .overlay {
            opacity: 1;
        }

        @media (max-width: 768px) {
            .big-image-container,
            .info-container {
                width: 100%;
                float: none;
                margin-right: 0;
                padding: 0;
            }
            }
            @media (min-width: 300px) {
            .col-xl-4 {
            flex: 0 0 50%;
            max-width: 50%;
            }
        }
        @media (min-width: 992px) {
            .col-xl-4 {
            flex: 0 0 33.333333%;
            max-width: 33.333333%;
            }
        }

        @media (min-width: 1200px) {
            .col-xl-4 {
            flex: 0 0 25%;
            max-width: 25%;
            }
        }
    </style>
{% endblock %}
