{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- Product section-->
    <section class="py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="row gx-4 gx-lg-5 align-items-center">
                <div class="col-md-6">
                    <div class="big-image-container">
                        <img class="card-img-top mb-5 mb-md-0" src="{{ item_detail.thumbnail.url }}" alt="{{ item_detail.name }}" style="object-fit: cover"/>
                    </div>
                    <div class="info-container" style="padding: 40px;">
                        <div class="info-in-container">
                            <h1 class="display-5 fw-bolder">{{ item_detail.name }}</h1>
                            <div class="fs-5 mb-5">
                                <span class="text-decoration-line-through">{{ item_detail.price }}원</span>
                            </div>
                        </div>
                        <p class="lead">{{ item_detail.body }}</p>
                        <div class="d-flex align-items-center">
                            <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem" />
                            <button class="btn btn-outline-dark flex-shrink-0" type="button">
                                <i class="bi-cart-fill me-1"></i>
                                Add to cart
                            </button>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-6 " style="padding-top: 30px; text-align: center;">
                    <p>Detail</p>
                    {% for item_photo in item_photos %}
                        <div class="item-photo">
                            <img src="{{ item_photo.image.url }}" alt="Item Photo" class="img-fluid img-cover">
                            <br>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
<!-- Related items section -->
<section class="py-5 bg-light">
    <div class="container px-4 px-lg-5 mt-5">
      <h2 class="fw-bolder mb-4">Related products</h2>
      <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
        {% for related_item in related_items %}
        <div class="col mb-5">
          <a href="{% url 'item:detail' related_item.id %}" style="text-decoration: none;">
            <div class="card h-100 card-hover">
              <div class="card-img-container">
                <!-- Product image -->
                <div class="image-container">
                  <img class="card-img-top" src="{{ related_item.thumbnail.url }}" alt="{{ related_item.name }}" />
                </div>
                <!-- Image overlay -->
                <div class="overlay"></div>
              </div>
              <!-- Product details -->
              <div class="card-body p-4">
                <div class="text-center">
                  <!-- Product name -->
                  <h5 class="fw-bolder">{{ related_item.name }}</h5>
                  <!-- Product price -->
                  <span class="text-muted">{{ related_item.price }}원</span>
                </div>
              </div>
              <!-- Product actions -->
              <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                <div class="text-center">
                  <a class="btn btn-outline-dark mt-auto" href="{% url 'item:detail' related_item.id %}">View details</a>
                </div>
              </div>
            </div>
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
  
  
    <style>
        .big-image-container {
            width: 50%;
            float: left;
            position: relative;
            overflow: hidden;
            }

        .image-container {
            width: 100%;
            position: relative;
            overflow: hidden;
            }
        .card-img-top {
            width:100%;
            height:100%;
            object-fit:cover;
        }
        .info-container {
            width: 50%;
            float: right;
            margin-top: 10%;
        }

        .item-photo {
            margin-bottom: 50px;
            position: relative;
        }

        .img-cover {
            object-fit: cover;
            width: 100%;
            height: 100%;
            width: 70%;
        }
        .card {
        height: 100%;
    }

    .card-hover:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }

    .card-img-container {
        position: relative;
    }

    .card-img-container .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(144, 144, 144, 0.199);
        opacity: 0;
        z-index: 1;
        transition: opacity 0.3s ease;
    }

    .card-hover:hover .overlay {
        opacity: 1;
    }
        @media (max-width: 768px) {
            .image-container,
            .info-container {
                width: 100%;
                float: none;
                margin-right: 0;
            }
        }
    </style>
{% endblock %}
