{% extends 'base.html' %}
{% block content %}
{% load static %}
    
    <!-- Header -->
    <header id="header" class="ex-2-header">
        <div class="container">
            <div class="row" style="padding-bottom: 20px;">
                <div class="col-lg-12">
                    <h1>주문서 작성</h1>
                    <p>꼼꼼히 읽고 작성해주세요!</p> 
                    <!-- apply Form -->
                    <div class="form-container" style="max-width: 80rem;">
                        <form method="POST" action="{% url 'supply:create' %}" id="order-form">
                            {%csrf_token%}
                            <br>
                            <div class="form-group">
                                1. 이름를 작성해주세요. 🚨 예금주와 동일해야 합니다!
                                <input class="form-control" type="text" placeholder="" aria-label=".form-control-lg example" name="name" style="width: 200px;" required>
                                <div class="help-block with-errors"></div>
                            </div>
                            <br>
                            <div class="form-group">
                                2. 주문조회에 사용될 핸드폰 번호를 작성해주세요. ('-' 없이 8자리)
                                <input class="form-control" type="text" placeholder="010xxxxxxxx" aria-label=".form-control-lg example" name="phone" required maxlength="11">
                                <div class="help-block with-errors"></div>
                            </div>
                            <br>
                            <div class="form-group">
                                3. 주문조회에 사용될 패스워드 4자리를 입력해주세요. (example: 0000)<br> 🚨 주의! 첫 주문이 아니시라면 되도록 전과 같은 비밀번호로 설정하세요! 주문 조회에 차질이 있을 수 있습니다. 🚨
                                <input class="form-control" type="text" placeholder="" aria-label=".form-control-lg example" name="password" style="width:250px;" required maxlength="4" minlength="4">
                                <div class="help-block with-errors"></div>
                            </div>
                            <br>
                            <div class="form-group">
                                4. 이메일을 적어주세요.
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" placeholder="example" name="email_id" required>
                                    <span class="input-group-text">@</span>
                                    <input type="text" class="form-control" placeholder="example.com" name="email_server" required>
                                </div>
                                <div class="help-block with-errors"></div>
                                
                            </div>
                            <br>
                            <div class="form-group">
                                5. 학번을 입력해주세요. (example: 18)
                                <input class="form-control" type="text" placeholder="" aria-label=".form-control-lg example" name="grade" style="width:180px;" required maxlength="2">
                                <div class="help-block with-errors"></div>
                            </div>
                            <br>
                            
                            <div class="form-group">
                                6. 상품을 선택해주세요
                                <div id="product-container">
                                    <div class="product-container">
                                        <div class="quantity-container">
                                            <select style="width:180px;" name="category[]" class="form-control-select" id="product" onchange="checkCategory(this)" required>
                                                <option value="" data-price="0" disabled selected style="display:none;">선택해주세요</option>
                                                {% for item in all_item %}
                                                    <option value="{{ item.name }}" data-price="{{ item.price }}" data-category="{{ item.category }}" data-item_id="{{ item.id }}">{{ item.name }}</option>
                                                {% endfor %}
                                            </select> 
                                            <input type="hidden" name="item_id[]" id="item-id-input">                                                                      
                                            <select style="width:60px; display:none; margin-left: 10px;" name="size-category[]" class="form-control-select" id="product-size">
                                                <option value="s">S</option>
                                                <option value="m">M</option>
                                                <option value="l">L</option>
                                                <option value="xl">XL</option>
                                                <option value="2xl">2XL</option>
                                            </select>
                                            
                                            <div class="quantity-control">
                                                <div style="font-size: small;">개수:</div>
                                                
                                                <button type="button" class="quantity-btn" onclick="adjustQuantity(this, -1)">-</button>
                                                <input type="number" name="quantity[]" min="1" value="1" style="width: 60px; text-align: center;">
                                                <button type="button" class="quantity-btn" onclick="adjustQuantity(this, 1)">+</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button type="button" class="add-btn" onclick="addProduct()">+</button>
                            <hr>
                            </div>
                            <div id="total-price-container">
                                <h3 style="color: black">
                                총 가격: <span id="total-price">0</span>원
                                </h3>
                                <input type="hidden" name="total-price-input" id="total-price-input">
                                주문은 계좌이체로 이루어지며, 최종 수량을 잘 확인 한 후 주문하기 버튼을 눌러주세요.
                            </div>
                            <br>
                            <button type="submit" name="draft" class="form-control-submit-button" id="submit-btn">주문하기</button>
                        </form>
                    </div> <!-- end of form container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div>
        <svg class="footer-frame" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" viewBox="0 0 1920 79">
            <defs>
              <linearGradient id="grad1" x1="0%" y1="0%" x2="0%" y2="100%">
                <stop offset="0%" style="stop-color:#00B5E2;stop-opacity:1" />
                <stop offset="33.33%" style="stop-color:#00B5E2;stop-opacity:1" />
                <stop offset="33.33%" style="stop-color:#EF3340;stop-opacity:1" />
                <stop offset="66.66%" style="stop-color:#EF3340;stop-opacity:1" />
                <stop offset="66.66%" style="stop-color:#509E2F;stop-opacity:1" />
                <stop offset="100%" style="stop-color:#509E2F;stop-opacity:1" />
              </linearGradient>
            </defs>
            <title>footer-frame</title>
            <path class="cls-2" d="M0,72.427C143,12.138,255.5,4.577,328.644,7.943c147.721,6.8,183.881,60.242,320.83,53.737,143-6.793,167.826-68.128,293-60.9,109.095,6.3,115.68,54.364,225.251,57.319,113.58,3.064,138.8-47.711,251.189-41.8,104.012,5.474,109.713,50.4,197.369,46.572,89.549-3.91,124.375-52.563,227.622-50.155A338.646,338.646,0,0,1,1920,23.467V79.75H0V72.427Z" transform="translate(0 -0.188)" fill="url(#grad1)" />
          </svg>
    </header> <!-- end of container -->
    <!-- end of ex-header -->
    <!-- end of header -->

    <script>
        // Function to adjust quantity by clicking the + or - button
        function adjustQuantity(button, value) {
            var input = button.parentNode.querySelector('input[type="number"]');
            var currentQuantity = parseInt(input.value);
            var newQuantity = currentQuantity + value;

            if (newQuantity >= 1) {
                input.value = newQuantity;
                updateTotalPrice();
            }
        }
        function updateTotalPrice() {
            var products = document.querySelectorAll('.product-container');
            var totalPrice = 0;

            products.forEach(function(product) {
                var select = product.querySelector('.form-control-select');
                var quantity = parseInt(product.querySelector('input[type="number"]').value);
                var selectedOption = select.options[select.selectedIndex];
                var price = parseInt(selectedOption.dataset.price);
                console.log(select.options[select.selectedIndex])
                totalPrice += price * quantity;
            });

            var formattedTotalPrice = totalPrice.toLocaleString();
            document.getElementById('total-price').textContent = formattedTotalPrice;
            document.getElementById('total-price-input').value = totalPrice;
    }
        // Function to add a new product input field
        function addProduct() {
    var container = document.getElementById('product-container');
    var newProduct = document.createElement('div');
    newProduct.className = 'product-container';

    var quantityContainer = document.createElement('div');
    quantityContainer.className = 'quantity-container';

    var select = document.createElement('select');
    select.style.width = '180px';
    select.name = 'category[]';
    select.className = 'form-control-select';
    select.onchange = function() {
        checkCategory(this);
    }

    var option = document.createElement('option');
    option.value = '';
    option.textContent = '선택해주세요';
    option.setAttribute('disabled', 'disabled');
    option.setAttribute('selected', 'selected');
    option.setAttribute('style', 'display:none;');
    option.dataset.price = '0';
    select.appendChild(option);

    // Retrieve the existing product options
    var existingOptions = document.querySelectorAll('#product option');
    for (var i = 1; i < existingOptions.length; i++) {
        var existingOption = existingOptions[i];
        var clonedOption = document.createElement('option');
        clonedOption.value = existingOption.value;
        clonedOption.setAttribute('data-price', existingOption.getAttribute('data-price'));
        clonedOption.setAttribute('data-category', existingOption.getAttribute('data-category'));
        clonedOption.setAttribute('data-item_id', existingOption.getAttribute('data-item_id'));
        clonedOption.textContent = existingOption.textContent;
        select.appendChild(clonedOption);
    }

    var quantityControl = document.createElement('div');
    quantityControl.className = 'quantity-control';
    quantityControl.textContent = '개수:'
    quantityControl.style.fontSize = 'small'

    var minusBtn = document.createElement('button');
    minusBtn.type = 'button';
    minusBtn.className = 'quantity-btn';
    minusBtn.textContent = '-';
    minusBtn.setAttribute('onclick', 'adjustQuantity(this, -1)');

    var input = document.createElement('input');
    input.type = 'number';
    input.name = 'quantity[]';
    input.min = '1';
    input.value = '1';
    input.style.width = '60px';
    input.style.textAlign = 'center';

    var plusBtn = document.createElement('button');
    plusBtn.type = 'button';
    plusBtn.className = 'quantity-btn';
    plusBtn.textContent = '+';
    plusBtn.setAttribute('onclick', 'adjustQuantity(this, 1)');

    var productSizeSelect = document.createElement('select');
    productSizeSelect.style.width = '60px';
    productSizeSelect.style.display = 'none';
    productSizeSelect.name = 'size-category[]';
    productSizeSelect.className = 'form-control-select';
    productSizeSelect.style.marginLeft = '10px'
    productSizeSelect.innerHTML =
        '<option value="s">S</option>' +
        '<option value="m">M</option>' +
        '<option value="l">L</option>' +
        '<option value="xl">XL</option>' +
        '<option value="2xl">2XL</option>';

    var removeBtn = document.createElement('span');
    removeBtn.className = 'remove-product';
    removeBtn.textContent = 'x';
    removeBtn.style.fontWeight = 'border';
    removeBtn.style.color = '#EF3340';
    removeBtn.setAttribute('onclick', 'removeProduct(this)');

    quantityControl.appendChild(minusBtn);
    quantityControl.appendChild(input);
    quantityControl.appendChild(plusBtn);

    quantityContainer.appendChild(select);
    quantityContainer.appendChild(productSizeSelect);
    quantityContainer.appendChild(quantityControl);
    quantityContainer.appendChild(removeBtn);

    newProduct.appendChild(quantityContainer);

    container.appendChild(newProduct);
    updateTotalPrice();
}


function checkCategory(select) {
    var productContainer = select.closest('.product-container');
    var quantityInput = productContainer.querySelector('input[type="number"]');

    var quantity = parseInt(quantityInput.value);
    var selectedOption = select.options[select.selectedIndex];
    var price = parseInt(selectedOption.dataset.price);

    var category = selectedOption.getAttribute('data-category');
    var productSizeSelect = select.parentNode.querySelector('select[name="size-category[]"]');

    if (category === 'clothes') {
        productSizeSelect.style.display = 'block';
    } else {
        productSizeSelect.style.display = 'none';
    }

    if (quantity === 1) {
        var totalPrice = price * quantity;
        document.getElementById('total-price').textContent = totalPrice;
    }
    updateTotalPrice();
}
        // Function to remove the product input field
    function removeProduct(element) {
        var container = document.getElementById('product-container');
        container.removeChild(element.parentNode.parentNode);
        updateTotalPrice();
    }

    </script>
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js">
         $('#submit-btn').on('click', function(event) {
            var form = $("#order-form")

            if (form[0].checkValidity() === false) {
              event.preventDefault()
              event.stopPropagation()
            }
            form.addClass('was-validated')
        })
    </script>
<style>
    header {
            background-image: url('{% static "images/ballon.jpg" %}');
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
        .form-control-submit-button {
            display: inline-block;
            width: 50%;
            height: 3.125rem;
            border: 1px solid #ff0000;
            border-radius: 1.5rem;
            background-color: #ff0000;
            color: #fff;
            font: 700 0.875rem/0 "Open Sans", sans-serif;
            cursor: pointer;
            transition: all 0.2s;
            margin-left: 25%;
        }
        .ex-2-header {
            background-color: transparent;
        }
        .form-control-submit-button:hover {
            background-color: transparent;
            color: #ff0000;
        }
        .product-container {
            margin-bottom: 20px;
        }

        .remove-product {
            cursor: pointer;
            margin-left: 5px;
        }

        .quantity-container {
            display: flex;
            align-items: center;
        }

        .quantity-control {
            display: flex;
            align-items: center;
            margin-left: 10px;
        }

        .quantity-btn {
            width: 24px;
            height: 24px;
            border-radius: 50%;
            background-color: #a0a0a0;
            transition: background-color 0.3s ease;
            color: #fff;
            border: none;
            font-size: 12px;
            line-height: 24px;
            cursor: pointer;
            margin: 6px;
        }

        .quantity-btn:hover {
            background-color: #f27474;
        }

        .add-btn {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            background-color: #00B5E2;
            color: #fff;
            transition: background-color 0.3s ease;
            border: none;
            font-size: 16px;
            line-height: 24px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            text-align: center;
            margin: 6px;
            font-weight: bolder;
        }
        .add-btn:hover {
            background-color: #a8e8fd;
        }
        

</style>


{% endblock %}