{% extends 'base.html' %}
{% block content %}
{% load static %}
    
    <!-- Header -->
    <!-- Header -->
<header id="header" class="ex-2-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="form-container" style="max-width: 80rem;">
                    <div class="order-info" style="color: black;">
                        <h1 style="color: black;">처리되었습니다.<br>Teşekkur ederim!</h2>
                    </div> <!-- end of order-info -->
                </div> <!-- end of form container -->
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</header> <!-- end of ex-header -->
<!-- end of header -->

<style>
    .ex-2-header {
            background-color: transparent;
        }
        header {
            background-image: url('{% static "images/ballon.jpg" %}');
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
    .p {
        color: black;
    }
</style>
{% endblock %}